

#dashboard {

    flex-direction: column;
    background-color: whitesmoke;

    justify-content: space-between;
    min-height: 85vh;
    /* min-height: 100vh; */
    height: 100%;
    width: 100%;

    border: 4px solid black;

    overflow: auto;

}

.navbar {
    top: 0;
    border: 5px solid black;
}

#friends {
    margin: auto;
    align-content: center;
    align-self: left;
    width: 100%;
    height: 15em;
    background-color: whitesmoke;

    border: 5px solid black;
}

#player{
    border: 5px solid black;
    height: 15em;
}

.news {
    padding-top: 10px;
    height: 20vh;
    min-height: 100%;
    width: 100%;
    background-color: palegreen;

    border: 3px dashed black;
    border-radius: 100px;

}

#current-news {
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}


#chats {
    min-height: 100%;
    width: 100%;

    background-color: red;
    border: 4px dashed black;
}

.chatListItem {
    height: 13vh;
    width: 100%;

    background-color: whitesmoke;
    border: 10px solid black;
}

#account {
    background-color: whitesmoke;
    min-height: 100%;

    border: 4px solid black;
}

#signup-col {
    margin-left: auto;
    margin-right: auto;
}

#support {
    
}


#signin {
    color: white;
}