.App {
  text-align: center;
  background-color: white;
  /* position: relative; */
  min-height: 100%;

  font-family: 'Lexend Giga', sans-serif;
}

.App-link {
  color: #61dafb;
}

body, html {
  height: 100%;
}


/* Media Queries */

/* Regular size phones */
@media only screen and (min-width: 320px) {
  .App {
    background-color: red;
  }

  #account {
    width: 85%;
  }

}

/* Plus size phones */
@media only screen and (min-width: 410px) {
  .App {
    background-color: lightgoldenrodyellow;
  }
}

/* iPad/Tablet resolution */
@media only screen and (min-width: 768px) {
  .App {
    background-color: lightblue;
  }

}

/* 1080p Monitors (MOST COMMON) */
@media only screen and (min-width: 1100px) {
  .App {
    background-color: green;
  }

  #account {
    width: 60%;
  }
}

/* 2K Monitors (MINE) */
@media only screen and (min-width: 1440px) {
  .App {
    background-color: blue;
  }

  #account {
    width: 50%;
  }

  .spacer-lg {
    height: 10em;
  }

  .spacer-sm {
    height: 4em;
  }
}

/* 4K Monitor/TV */
@media only screen and (min-width: 2160px) {
  .App {
    background-color: lightskyblue;
  }

  #account {
    width: 50%;
  }

  .spacer-lg {
    height: 15em;
  }

  .spacer-sm {
    height: 4em;
  }

  p{
    font-size: 140px;
  }
}